body, a {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

.footer-top__form-btn, .menu__list-link, .footer-top__title {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.title, .menu__list-link:hover, .menu__list-link--active {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

.footer-top__form-btn {
  padding: 12px 26px;
  text-transform: uppercase;
  color: #fff;
  background-color: #fe3e57;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
          box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  cursor: pointer;
}

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format(woff2), url("../fonts/Quicksand-Regular.woff") format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format(woff2), url("../fonts/Quicksand-Medium.woff") format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format(woff2), url("../fonts/Roboto-Regular.woff") format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format(woff2), url("../fonts/Roboto-Bold.woff") format(woff);
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.breadcrumbs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
  position: relative;
}

.breadcrumbs::before {
  content: '';
  position: absolute;
  background-image: url(../images/icons/home-icon.svg);
  width: 16px;
  height: 16px;
  left: 0;
  top: 4px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  color: #727272;
  padding-right: 40px;
  position: relative;
}

.breadcrumbs__item::after {
  content: '';
  position: absolute;
  background-image: url(../images/icons/angle-right.svg);
  width: 9px;
  height: 10px;
  right: 15px;
  top: 8px;
}

.breadcrumbs__item:last-child {
  color: #fe3e57;
  padding-right: 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  color: inherit;
}

.header--404-page {
  background-color: #f6f6f6;
}

a {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.pagination .pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 35px;
}

.pagination__item {
  padding: 0 15px;
}

.pagination__link--active {
  color: #fe3e57;
}

.pagination__arrows {
  text-transform: uppercase;
  position: relative;
}

.pagination__arrows::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  top: 8px;
}

.pagination__prew {
  padding-left: 15px;
}

.pagination__prew::before {
  background-image: url(../images/icons/angle_left.svg);
  left: 0;
}

.pagination__next {
  padding-right: 15px;
}

.pagination__next::before {
  background-image: url(../images/icons/angle_right.svg);
  right: 0;
}

.top__container {
  max-width: 1700px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 130px;
  text-align: center;
}

.header {
  padding: 40px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item + .menu__list-item {
  padding-left: 35px;
}

.menu__list-link {
  color: #29282d;
  padding-bottom: 0 2px 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
}

.menu__list-link:hover {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}

.menu__list-link--active {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-nav__link {
  position: relative;
}

.user-nav__link + .user-nav__link {
  padding-left: 25px;
}

.user-nav__num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe3e57;
  top: -9px;
  right: -14px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .header__inner {
    padding-right: 10px;
  }
}

@media (max-width: 860px) {
  .menu__list {
    display: none;
  }
  .menu__btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .menu__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #29282d;
  }
}

footer {
  background-color: #f6f6f6;
}

.footer-top {
  border-bottom: 1px solid #ececec;
  padding: 70px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__contact {
  width: 250px;
  margin-right: 50px;
}

.footer-top__nav {
  width: 170px;
  margin-right: 30px;
}

.footer-top__item-form {
  max-width: 470px;
}

.footer-top__logo {
  margin-bottom: 33px;
  display: block;
}

.footer-top__adress, .footer-top__email, .footer-top__phone {
  margin-bottom: 14px;
  display: block;
}

.footer-top__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer-top__social-item + .footer-top__social-item {
  padding-left: 18px;
}

.footer-top__social-link {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-top__social-link path {
  fill: #8d8d8d;
}

.footer-top__social-link:hover path {
  fill: #fe3e57;
}

.footer-top__title {
  line-height: 1;
  font-size: 22px;
  margin-bottom: 40px;
}

.footer-top__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__link {
  margin-bottom: 14px;
  display: block;
}

.footer-top__text {
  margin-bottom: 25px;
}

.footer-top__form-input {
  background-color: #fff;
  max-width: 320px;
  width: 100%;
  border: none;
  padding: 12px 10px 12px 15px;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
          box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
  margin-right: 3px;
}

.footer-top__form-input::-webkit-input-placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.footer-top__form-input:-ms-input-placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.footer-top__form-input::-ms-input-placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.footer-top__form-input::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.footer-top__form-btn {
  -webkit-box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
          box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  cursor: pointer;
  border: none;
}

.footer-bottom {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.footer-bottom__accept-img {
  display: inline;
  margin-left: 25px;
  vertical-align: middle;
}
/*# sourceMappingURL=register.css.map */